{% extends 'pages/base.html' %}

{% block title %}
Hảo Coder: Đăng ký
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hcbox.css' %}">

<div class="container">
	<div class="row justify-content-lg-center">
		<div class="col-9" style="font-size: 20px;">
			<form id="register-form">
				<div class="mb-3">
					<label class="form-label">Tên tài khoản</label>
					<input id="usr-name" type="text" class="form-control" placeholder="Tên đăng nhập của bạn (tối đa 30 ký tự)">
				</div>
				<div class="mb-3">
					<label class="form-label">Email</label>
					<input id="usr-email" type="email" class="form-control" placeholder="Email của bạn">
				</div>
				<div class="mb-3">
					<label class="form-label">Mật khẩu</label>
					<input id="usr-pass" type="password" class="form-control" placeholder="Mật khẩu">
				</div>
				<div class="mb-3">
					<label class="form-label">Nhập lại mật khẩu</label>
					<input id="re-usr-pass" type="password" class="form-control" placeholder="Nhập lại mật khẩu">
				</div>
				<div id="register-err">
				</div>
				<div class="text-center">
					<button id="register-button" type="button" class="btn btn-primary" style="border: none; border-radius: 12px; height: 45px;">Đăng ký</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
function register_background() {
	$.ajax({
		url: "/register/",
		type: "POST",
		data: {
			csrfmiddlewaretoken: "{{ csrf_token }}",
			username: String.raw`${$("#usr-name").val()}`,
			password: String.raw`${$("#usr-pass").val()}`,
			repassword: String.raw`${$("#re-usr-pass").val()}`,
			email: String.raw`${$("#usr-email").val()}`,
		}
	}).done(function(result) {
		if (result['err-title']) {
			var dom = `<div class="hc-err-box">
				<label style="font-size: 20px;">` + result['err-title'] + `</label>
				<p style="font-size: 16px;">` + result['err-description'] + `</p>
			</div><br>`;
			$("#register-err").html(dom);
		}
		else if (result['done'] == 'done') {
			var dom = `<div class="hc-done-box">
				<label style="font-size: 20px;">Đăng ký thành công !</label>
				<p style="font-size: 16px;">Giờ bạn có thể đăng nhập bằng nút Đăng nhập phía trên hoặc tại <a href="/login/">đây</a>.
			</div>`;
			$("#register-form").html(dom);
		}
	});
}
</script>
<script type="text/javascript">
$("#register-button").click(register_background);
$("input").bind("keypress", function(e) {
	var c = e.keyCode || e.which;
	if (c == 13) {
		register_background();
	}
});
</script>
{% endblock %}