<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" integrity="sha512-fzff82+8pzHnwA1mQ0dzz9/E0B+ZRizq08yZfya66INZBz86qKTCt9MLU0NCNIgaMJCgeyhujhasnFUsYMsi0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'font/font.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.redirect.js' %}"></script>
</head>
<body style="font-family: Montserrat Regular; font-size: 16px;">
<link rel="stylesheet" type="text/css" href="{% static 'css/hcbox.css' %}">
<script type="text/javascript">MathJax={tex:{inlineMath:[['$','$'],['\\(','\\)']],displayMath:[['$$','$$'],["\\[","\\]"]],processEscapes:false,},svg:{fontCache:'global'}};</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-svg-full.min.js" integrity="sha512-RvtSA5grZZKDz4mg1vcso9AZdczZg631CC1pbqp+GJC/3mqAcSSy1RJXnini9TOqXQQc7K0zaYWd4XdQLG92/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-family: Montserrat Medium; box-shadow: 0px 5px 5px gray;">
		<div class="container-fluid">
			<a class="navbar-brand" href="/" style="font-size: 24px;">Hảo Coder</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/contest/">Kỳ thi</a></li>
					<li class="nav-item"><a class="nav-link" href="/ranking/">Xếp hạng</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Chúng tôi</a></li>
				</ul>
			</div>
			<div class="d-flex">
				{% if not user.is_authenticated %}
					<a href="/login/"><button type="button" class="btn btn-primary" style="border-radius: 12px; border: none; height: 40px; width: 120px; border-color: white;">Đăng nhập</button></a>
					&nbsp;&nbsp;&nbsp;
					<a href="/register/"><button type="button" style="border-radius: 12px; border: none; height: 40px; width: 90px; border-color: white; background-color: #d6d6d6;">Đăng ký</button></a>
				{% else %}
					<div class="dropdown">
						<a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" style="text-decoration: none; color: black;">
							<span style="">{{ user.username }}</span>
						</a>
						<ul class="dropdown-menu dropdown-menu-end" style="border-radius: 12px;">
							{% if user.is_superuser or user.is_staff %}
							<li><a class="dropdown-item" href="/admin/">Quản lý</a></li>
							<li><div class="dropdown-divider"></div></li>
							{% endif %}
							<li><a class="dropdown-item" href="/profile/">Hồ sơ</a></li>
							<li><div class="dropdown-divider"></div></li>
							<li><a class="dropdown-item" href="/logout/" style="color: red;">Đăng xuất</a></li>
						</ul>
					</div>
				{% endif %}
			</div>
		</div>
	</nav>
	<br><br><br>
	{% block content %}
	{% endblock %}
	<br><br><br><br><br>
	<section class="" style="box-shadow: 0 0 15px black;">
		<footer class="text-black text-center">
			<div class="container p-4">
				<div class="row">
					<div class="col-lg-5 col-md-12 mb-4 mb-md-0">
						<h5 class="text-uppercase">Hảo Coder: Nơi cốt thủ hội tụ</h5>
						<p>Hảo Coder được tạo ra nhằm mục đích tạo cho các bạn một sân chơi bổ ích lành mạnh, tổ chức các kỳ thi để các bạn làm quen với không khí phòng thi cũng như là cọ xát, so tài với những coder khác.</p>
					</div>
					<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
						<h5 class="text-uppercase">links</h5>
						<ul class="list-unstyled mb-0">
							<li><a href="#" style="text-decoration: none; color: black;">Kỳ thi</a></li>
							<li><a href="#" style="text-decoration: none; color: black;">Xếp hạng</a></li>
							<li><a href="#" style="text-decoration: none; color: black;">Về chúng tôi</a></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
						<h5 class="text-uppercase">liên hệ</h5>
						<ul class="list-unstyled mb-0">
							<li>Email: pydevmonkey4002@gmail.com</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="text-center p-3 text-uppercase" style="background-color: rgba(0,0,0,0.2);">
				© 2021 Bản quyền thuộc về: Hảo Coder
			</div>
		</footer>
	</section>
</body>
</html>