.hc-bg-black {background-color: #303030;}
.hc-bg-gray {background-color: #9e9e9e;}
.hc-bg-red {background-color: #f53b3b;}

.hc-fg-black {color: #303030;}
.hc-fg-gray {color: #9e9e9e;}
.hc-fg-white {color: #ffffff;}
.hc-fg-red {color: #f53b3b;}

pre {
	background-color: #ededed;
	border-radius: 24px;
	padding: 25px;
}