{% extends 'pages/base.html' %}

{% block title %}
Hảo Coder: Bảng xếp hạng {{ contest.contest_title }}
{% endblock %}

{% block content %}
{% load static %}
{% load martortags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hcbadge.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/hccolor.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/hcbox.css' %}">

<div class="container">
	<div class="row justify-content-lg-center">
		<div class="col-12">
			{% if contest.contest_status == "RUNNING" %}
			<div style="border: 1px solid #f0f0f0; border-radius: 24px; padding: 30px; background-color: #f0f0f0; text-align: center; vertical-align: middle;">
				<label style="font-weight: bold; font-size: 24px;">Kỳ thi sẽ kết thúc sau</label><br><br>
				<label id="time-label" style="font-weight: bold; font-size: 60px;"></label>
			</div>
			<br><br>
			{% endif %}
			<div style="border: 2px solid #d0d0d0; border-radius: 24px; padding: 30px; background-color: white;">
				<div>
					<span style="color: #006eff;">
						<a href="/contest/{{ contest.contest_id }}/" style="text-decoration: none;">
							<i class="fas fa-arrow-left"></i>
							 Trở về trang chủ kỳ thi
						</a>
					</span>
				</div>
				<br>
				<h3 style="font-weight: bold; text-align: center;">
					{{ contest.contest_title }}
					<br><br>
					Bảng xếp hạng
				</h3>
				{% if contest and leaderboard %}
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col" style="text-align: center; width: 70px;">STT</th>
								<th scope="col">Thí sinh</th>
								{% for p in problem %}
								{% if contest.contest_status == "SCHEDULE" %}
								<th scope="col" style="text-align: center; width: 80px;">{{ p.contest_problem_id }}</th>
								{% else %}
								<th scope="col" style="text-align: center; width: 80px;"><a href="/contest/{{ contest.contest_id }}/problem/{{ p.problem_id }}/" style="text-decoration: none;">{{ p.contest_problem_id }}</a></th>
								{% endif %}
								{% endfor %}
								<th scope="col" style="text-align: center; width: 100px;">Điểm</th>
							</tr>
						</thead>
						<tbody>
							{% for brow in leaderboard %}
							<tr style="font-weight: bold; height: 70px;" class="hc-raised-tb-row">
								<td scope="row" style="text-align: center; vertical-align: middle;">{{ forloop.counter }}</td>
								<td scope="row" style="vertical-align: middle; font-weight: bold; color: {{ brow.profile.color }};">
								<a href="/profile/{{ brow.profile }}/" style="text-decoration: none;">
									{% for k, v in role_code.items %}
									{% if brow.profile.role == k %}
									<span class="hc-badge" style="font-size: 14px; background-color: {{ brow.profile.color }};">{{ v }}</span>
									{% endif %}
									{% endfor %}
									<span style="color: {{ brow.profile.color }};">{{ brow.profile }}</span>
								</a>
								</td>
								{% for p in problem %}
								<td scope="row" style="text-align: center; vertical-align: middle;">0.00</td>
								{% endfor %}
								<td scope="row" style="text-align: center; vertical-align: middle;">{{ brow.total_score }}<br>{{ brow.total_time }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<br>
				<div class="table-responsive" style="text-align: center; font-style: italic;">
					Hiện tại kỳ thi chưa có thí sinh nào.
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% if contest.contest_status == "RUNNING" %}
<script type="text/javascript">
$(document).ready(function() {
	$.ajax({
		url: "/contest/{{ contest.contest_id }}/{% if contest.contest_status == 'SCHEDULE' %}upcoming_time{% elif contest.contest_status == 'RUNNING' %}remain_time{%endif%}/",
		type: "POST",
		data: {
			csrfmiddlewaretoken: "{{ csrf_token }}",
		}
	}).done(function(result) {
		function pretty(t) {
			return t < 10 ? "0" + t: t;
		}
		var time = result["time"];
		var days = parseInt(time / 86400) < 0 ? 0 : parseInt(time / 86400);
		var hour = parseInt(time % 86400 / 3600) < 0 ? 0 : parseInt(time % 86400 / 3600);
		var minute = parseInt(time % 86400 % 3600 / 60) < 0 ? 0 : parseInt(time % 86400 % 3600 / 60);
		var second = parseInt(time % 86400 % 3600 % 60) < 0 ? 0 : parseInt(time % 86400 % 3600 % 60);
		var clock = $("#time-label");
		clock.text(days + " ngày " + pretty(hour) + ":" + pretty(minute) + ":" + pretty(second));
		if (days >= 0 && hour >= 0 && minute >= 0 && second >= 0) {
			var intervalid = setInterval(function() {
				second -= 1;
				if (second < 0) {
					second = 59;
					minute -= 1;
					if (minute < 0) {
						minute = 59;
						hour -= 1;
					}
				}
				clock.text(days + " ngày " + pretty(hour) + ":" + pretty(minute) + ":" + pretty(second));
				if (days == 0 && hour == 0 && minute == 0 && second == 0) {
					{% if contest.contest_status == "SCHEDULE" %}
					$.ajax({
						url: "/",
						type: "GET"
					});
					{% elif contest.contest_status == "RUNNING" %}
					location.reload();
					{% endif %}
					clearInterval(intervalid);
				}
			}, 1000);
		}
		if (days == 0 && hour == 0 && minute == 0 && second == 0) {
			{% if contest.contest_status == "SCHEDULE" %}
			$.ajax({
				url: "/",
				type: "GET"
			});
			{% elif contest.contest_status == "RUNNING" %}
			location.reload();
			{% endif %}
		}
	});
});
</script>
{% endif %}
{% endblock %}