{% extends 'pages/base.html' %}

{% block title %}
Hảo Coder: {{ contest.contest_title }}
{% endblock %}

{% block content %}
{% load static %}
{% load martortags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hcbadge.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/hccolor.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/hcbox.css' %}">

<div class="container">
	<div class="row justify-content-lg-center">
		<div class="col-12">
			<div style="border: 2px solid #d0d0d0; border-radius: 24px; padding: 30px; background-color: white;">
				<h1 style="text-align: center; font-weight: bold;">
					{{ contest.contest_title }}
					{% if contest.contest_rated %}
					<span class="hc-badge hc-bg-red" style="padding: 5px; vertical-align: middle;">Rated</span>
					{% endif %}
				</h1>
				<br>
				<ul style="font-size: 18px;">
					<li>Thời gian bắt đầu: {{ contest.contest_schedule|date:"H:i d/m/Y" }}</li>
					<li>Thời gian làm bài: {{ contest.contest_long }}</li>
					<li>Dạng kỳ thi: {{ contest.contest_format }}</li>
					<li>Kỳ thi được tính hệ số cho các bạn có hệ số trong khoảng {{ contest.contest_rating_range }}</li>
				</ul>
				{% if contest.contest_status == "SCHEDULE" %}
				<div style="border: 1px solid #f0f0f0; border-radius: 24px; padding: 30px; background-color: #f0f0f0; text-align: center; vertical-align: middle;">
					<label style="font-weight: bold; font-size: 24px;">Kỳ thi chuẩn bị diễn ra trong</label><br><br>
					<label id="time-label" style="font-weight: bold; font-size: 60px;"></label>
				</div>
				{% elif contest.contest_status == "RUNNING" %}
				<div style="border: 1px solid #f0f0f0; border-radius: 24px; padding: 30px; background-color: #f0f0f0; text-align: center; vertical-align: middle;">
					<label style="font-weight: bold; font-size: 24px;">Kỳ thi sẽ kết thúc sau</label><br><br>
					<label id="time-label" style="font-weight: bold; font-size: 60px;"></label>
				</div>
				{% endif %}
				{% if not user_registered and user.is_authenticated and contest.contest_status == "SCHEDULE" %}
				<br>
				<div style="border: 1px solid #f0f0f0; border-radius: 24px; padding: 30px; background-color: #f0f0f0; text-align: center; vertical-align: middle;">
					<label style="font-weight: bold; font-size: 24px;">Bạn chưa tham gia kỳ thi này ?</label><br><br>
					<button id="join-button" type="button" class="btn btn-primary" style="border: none; border-radius: 12px; height: 50px; font-weight: bold;">Tham gia ngay</button>
				</div>
				{% endif %}
				<p>{{ contest.contest_description|safe_markdown }}</p>
				{% if user_registered and user.is_authenticated and contest.contest_status != "SCHEDULE" or contest.contest_status == "ARCHIVED" %}
				<br>
				<a href="/contest/{{ contest.contest_id }}/problem/" style="color: black;">
					<div style="border: 1px solid #c4c4c4; border-radius: 24px; padding: 30px; font-weight: bold;" class="hc-raised-box">
						<label>Đề bài</label>
						<span style="float: right; color: #006eff;">Xem&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></span>
					</div>
				</a>
				{% endif %}
				<br>
				<a href="/contest/{{ contest.contest_id }}/leaderboard/" style="color: black;">
					<div style="border: 1px solid #c4c4c4; border-radius: 24px; padding: 30px; font-weight: bold;" class="hc-raised-box">
						<label>Bảng Xếp Hạng</label>
						<span style="float: right; color: #006eff;">Xem&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">$("#join-button").click(function(){$.ajax({url:"/contest/{{ contest.contest_id }}/{% if not user_registered %}register{% else %}unregister{% endif %}/",type:"POST",data:{csrfmiddlewaretoken:"{{ csrf_token }}"},timeout:30000}).done(function(result){location.reload();});});</script>
{% if contest.contest_status == "SCHEDULE" or contest.contest_status == "RUNNING" %}
<script type="text/javascript">
$(document).ready(function() {
	$.ajax({
		url: "/contest/{{ contest.contest_id }}/{% if contest.contest_status == 'SCHEDULE' %}upcoming_time{% elif contest.contest_status == 'RUNNING' %}remain_time{%endif%}/",
		type: "POST",
		data: {
			csrfmiddlewaretoken: "{{ csrf_token }}",
		}
	}).done(function(result) {
		function pretty(t) {
			return t < 10 ? "0" + t: t;
		}
		var time = result["time"];
		var days = parseInt(time / 86400) < 0 ? 0 : parseInt(time / 86400);
		var hour = parseInt(time % 86400 / 3600) < 0 ? 0 : parseInt(time % 86400 / 3600);
		var minute = parseInt(time % 86400 % 3600 / 60) < 0 ? 0 : parseInt(time % 86400 % 3600 / 60);
		var second = parseInt(time % 86400 % 3600 % 60) < 0 ? 0 : parseInt(time % 86400 % 3600 % 60);
		var clock = $("#time-label");
		clock.text(days + " ngày " + pretty(hour) + ":" + pretty(minute) + ":" + pretty(second));
		if (days >= 0 && hour >= 0 && minute >= 0 && second >= 0) {
			var intervalid = setInterval(function() {
				second -= 1;
				if (second < 0) {
					second = 59;
					minute -= 1;
					if (minute < 0) {
						minute = 59;
						hour -= 1;
					}
				}
				clock.text(days + " ngày " + pretty(hour) + ":" + pretty(minute) + ":" + pretty(second));
				if (days == 0 && hour == 0 && minute == 0 && second == 0) {
					{% if contest.contest_status == "SCHEDULE" %}
					$.ajax({
						url: "/",
						type: "GET"
					});
					{% elif contest.contest_status == "RUNNING" %}
					location.reload();
					{% endif %}
					clearInterval(intervalid);
				}
			}, 1000);
		}
		if (days == 0 && hour == 0 && minute == 0 && second == 0) {
			{% if contest.contest_status == "SCHEDULE" %}
			$.ajax({
				url: "/",
				type: "GET"
			});
			{% elif contest.contest_status == "RUNNING" %}
			location.reload();
			{% endif %}
		}
	});
});
</script>
{% endif %}
{% endblock %}