{% extends 'pages/base.html' %}

{% block title %}
Hảo Coder: Đề bài {{ contest.contest_title }}
{% endblock %}

{% block content %}
{% load static %}
{% load martortags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hcbadge.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/hccolor.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/hcbox.css' %}">

<div class="container">
	<div class="row justify-content-lg-center">
		<div class="col-12">
			<div style="border: 2px solid #d0d0d0; border-radius: 24px; padding: 30px; background-color: white;">
				<div>
					<span style="color: #006eff;">
						<a href="/contest/{{ contest.contest_id }}/" style="text-decoration: none;">
							<i class="fas fa-arrow-left"></i>
							 Trở về trang chủ kỳ thi
						</a>
					</span>
					<span style="float: right;color: #006eff;"><a href="/contest/{{ contest.contest_id }}/leaderboard/" style="text-decoration: none;">
						Xem bảng xếp hạng 
						<i class="fas fa-arrow-right"></i>
					</a></span>
				</div>
				<h3 style="font-weight: bold; text-align: center;">
					{{ contest.contest_title }}
					<br><br>
					Đề bài
				</h3>
				<br><br>
				{% for p in problem %}
				<a href="/contest/{{ contest.contest_id }}/problem/{{ p.problem_id }}/" style="color: black; text-decoration: none;">
					<div style="border: 1px solid #c4c4c4; border-radius: 24px; padding: 30px; font-weight: bold; font-size: 20px;" class="hc-raised-box">
						<label>{{ p.contest_problem_id }}. {{ p.problem_title }} ({{ p.problem_score }} điểm)</label>
						<span style="float: right; color: #006eff;">Làm bài&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></span>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}